recursive-include Live2D *
include cmake/Wrapper.cmake
include cmake/PatchCubismShader.cmake
recursive-include Wrapper *
include package.live2d
include CMakeLists.txt
include build_config.py
include download_csmsdk.py
include package/live2d/v3/FrameworkShaders/*.frag
include package/live2d/v3/FrameworkShaders/*.vert
